
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-gmail:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */